alias c="clear"
alias q="exit"
alias g="git"

alias gn="git number --column"
alias ga="git number add"

if [ `echo $TERM` != "cygwin" ];
then
    alias tmux="TERM=xterm-256color tmux"
fi

alias doc="docker"
alias dc="docker-compose"

alias ls="ls --color=auto --group-directories-first"
alias ll="ls -AlF --color=auto --group-directories-first"

alias xclip="xclip -sel clip"

alias ..="cd .."
alias ...="cd ../.."

alias co="composer.phar"
alias cdu="composer.phar dump-autoload"
alias cri="composer.phar require --ignore-platform-reqs"
alias cui="composer.phar require --ignore-platform-reqs"

alias phpd="php -dxdebug.remote_autostart"

alias ar="php artisan"
alias ar:mc="php artisan make:controller"
alias ar:mcr="php artisan make:controller --resource"
alias ar:mr="php artisan make:request"
alias ar:mmo="php artisan make:model"
alias ar:mmi="php artisan make:middleware"
alias ar:ms="php artisan make:seeder"
alias ar:mi="php artisan migrate"
alias ar:mis="php artisan migrate --seed"
alias ar:mir="php artisan migrate:refresh"
alias ar:mirs="php artisan migrate:refresh --seed"
alias ar:ih:m="php artisan ide-helper:models -W -R"

