[submodule "editors/vim/.vim/bundle/vim-pathogen"]
	path = editors/vim/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "editors/vim/.vim/bundle/vim-plugin-ruscmd"]
	path = editors/vim/.vim/bundle/vim-plugin-ruscmd
	url = https://github.com/powerman/vim-plugin-ruscmd.git
[submodule "editors/vim/.vim/bundle/nerdtree"]
	path = editors/vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "editors/vim/.vim/bundle/vim-airline"]
	path = editors/vim/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "editors/vim/.vim/bundle/vim-latex"]
	path = editors/vim/.vim/bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule "editors/vim/.vim/bundle/vim-monokai"]
	path = editors/vim/.vim/bundle/vim-monokai
	url = https://github.com/crusoexia/vim-monokai.git
[submodule "editors/vim/.vim/bundle/nerdcommenter"]
	path = editors/vim/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "editors/vim/.vim/bundle/ctrlp"]
	path = editors/vim/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "editors/vim/.vim/bundle/vim-easygrep"]
	path = editors/vim/.vim/bundle/vim-easygrep
	url = https://github.com/dkprice/vim-easygrep.git
[submodule "editors/vim/.vim/bundle/vim-surround"]
	path = editors/vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "editors/vim/.vim/bundle/vim-repeat"]
	path = editors/vim/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "editors/vim/.vim/bundle/vim-fugitive"]
	path = editors/vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "editors/vim/.vim/bundle/vim-easymotion"]
	path = editors/vim/.vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "editors/vim/.vim/bundle/vim-orgmode"]
	path = editors/vim/.vim/bundle/vim-orgmode
	url = https://github.com/jceb/vim-orgmode
[submodule "editors/vim/.vim/bundle/vim-speeddating"]
	path = editors/vim/.vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "editors/vim/.vim/bundle/utl"]
	path = editors/vim/.vim/bundle/utl
	url = https://github.com/vim-scripts/utl.vim
[submodule "editors/vim/.vim/bundle/copy-cut-paste"]
	path = editors/vim/.vim/bundle/copy-cut-paste
	url = https://github.com/NLKNguyen/copy-cut-paste.vim
[submodule "editors/vim/.vim/bundle/vim-unimpaired"]
	path = editors/vim/.vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "editors/vim/.vim/bundle/bufonly.vim"]
	path = editors/vim/.vim/bundle/bufonly.vim
	url = https://github.com/vim-scripts/BufOnly.vim
[submodule "editors/vim/.vim/bundle/vim-antlr"]
	path = editors/vim/.vim/bundle/vim-antlr
	url = https://github.com/jrozner/vim-antlr
[submodule "editors/vim/.vim/bundle/Dockerfile.vim"]
	path = editors/vim/.vim/bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "editors/vim/.vim/bundle/emmet-vim"]
	path = editors/vim/.vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "editors/vim/.vim/bundle/splitjoin.vim"]
	path = editors/vim/.vim/bundle/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "editors/vim/.vim/bundle/nerdtree-git-plugin"]
	path = editors/vim/.vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "editors/vim/.vim/bundle/vim-multiple-cursors"]
	path = editors/vim/.vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "editors/vim/.vim/bundle/vim-better-whitespace"]
	path = editors/vim/.vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "editors/vim/.vim/bundle/tabular"]
	path = editors/vim/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "editors/vim/.vim/bundle/vim-vinegar"]
	path = editors/vim/.vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "editors/vim/.vim/bundle/tagbar"]
	path = editors/vim/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
