[user]
	email = amelihovv@ya.ru
	name = Alexander Melihov
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[core]
    ; Забирать файлы как есть, а коммитить с юниксовыми концами строк.
	autocrlf = input
[push]
	default = current

