[submodule "editors/Vim/.vim/bundle/vim-pathogen"]
	path = editors/Vim/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "editors/Vim/.vim/bundle/vim-plugin-ruscmd"]
	path = editors/Vim/.vim/bundle/vim-plugin-ruscmd
	url = https://github.com/powerman/vim-plugin-ruscmd.git
[submodule "editors/Vim/.vim/bundle/nerdtree"]
	path = editors/Vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "editors/Vim/.vim/bundle/vim-airline"]
	path = editors/Vim/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "editors/Vim/.vim/bundle/vim-latex"]
	path = editors/Vim/.vim/bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule "editors/Vim/.vim/bundle/vim-monokai"]
	path = editors/Vim/.vim/bundle/vim-monokai
	url = https://github.com/crusoexia/vim-monokai.git
[submodule "editors/Vim/.vim/bundle/nerdcommenter"]
	path = editors/Vim/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "editors/Vim/.vim/bundle/ctrlp.vim"]
	path = editors/Vim/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "editors/Vim/.vim/bundle/vim-easygrep"]
	path = editors/Vim/.vim/bundle/vim-easygrep
	url = https://github.com/dkprice/vim-easygrep.git
[submodule "editors/Vim/.vim/bundle/vim-surround"]
	path = editors/Vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "editors/Vim/.vim/bundle/vim-repeat"]
	path = editors/Vim/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "editors/Vim/.vim/bundle/vim-fugitive"]
	path = editors/Vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "editors/Vim/.vim/bundle/vim-easymotion"]
	path = editors/Vim/.vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "editors/Vim/.vim/bundle/vim-easy-align"]
	path = editors/Vim/.vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "editors/Vim/.vim/bundle/vim-orgmode"]
	path = editors/Vim/.vim/bundle/vim-orgmode
	url = https://github.com/jceb/vim-orgmode
[submodule "editors/Vim/.vim/bundle/vim-speeddating"]
	path = editors/Vim/.vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "editors/Vim/.vim/bundle/utl"]
	path = editors/Vim/.vim/bundle/utl
	url = https://github.com/vim-scripts/utl.vim
[submodule "editors/Vim/.vim/bundle/tlib_vim"]
	path = editors/Vim/.vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "editors/Vim/.vim/bundle/vim-addon-mw-utils"]
	path = editors/Vim/.vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "editors/Vim/.vim/bundle/vim-snipmate"]
	path = editors/Vim/.vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "editors/Vim/.vim/bundle/vim-snippets"]
	path = editors/Vim/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "editors/Vim/.vim/bundle/copy-cut-paste.vim"]
	path = editors/Vim/.vim/bundle/copy-cut-paste.vim
	url = https://github.com/NLKNguyen/copy-cut-paste.vim
[submodule "editors/Vim/.vim/bundle/vim-unimpaired"]
	path = editors/Vim/.vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "editors/Vim/.vim/bundle/BufOnly"]
	path = editors/Vim/.vim/bundle/BufOnly
	url = https://github.com/vim-scripts/BufOnly.vim
