alias sudo="sudo "
alias c="clear"
alias q="exit"
alias l="less"
alias rmr="rm -rf"

alias g="git"
alias gst="git status"
alias gc="git commit"
alias gp="git push"
alias gpu="git pull"
alias gr="git rebase"
alias grc="git rebase --continue"
alias grr="git rebase --reset"
alias nah='git reset --hard && git clean -f'

if [ `echo $TERM` != "cygwin" ];
then
    alias tmux="TERM=xterm-256color tmux"
fi

alias doc="docker"
alias dc="docker-compose"

if [ "$(uname -s)" = "Linux" ]; then
    alias ls="ls --color=auto --group-directories-first"
    alias ll="ls -AlFh --color=auto --group-directories-first"

    alias copy="xclip -sel clip"
    alias paste="xclip -sel clip -o"

    alias open="xdg-open"
elif [ "$(uname -s)" = "Darwin" ]; then
    alias ll="ls -alFh"

    alias copy="pbcopy"
    alias paste="pbpaste"
fi

alias ..="cd .."
alias ...="cd ../.."

alias co="composer"
alias coi="composer install"
alias cor="composer require"
alias cord="composer require --dev"
alias cou="composer update"
alias cdu="composer dump-autoload"

composer-link() {
    composer config repositories.local '{"type": "path", "url": "'$1'"}' --file composer.json
}

alias phpd="php -dxdebug.remote_autostart"

alias ar="php artisan"
alias ars="php artisan serve"
alias art="php artisan tinker"
alias ar:mc="php artisan make:controller"
alias ar:mcr="php artisan make:controller --resource"
alias ar:mr="php artisan make:request"
alias ar:mmo="php artisan make:model"
alias ar:mmi="php artisan make:middleware"
alias ar:ms="php artisan make:seeder"
alias ar:mi="php artisan migrate"
alias ar:mis="php artisan migrate --seed"
alias ar:mir="php artisan migrate:refresh"
alias ar:mirs="php artisan migrate:refresh --seed"
alias ar:mire="php artisan migrate:reset && php artisan migrate --seed"
alias ar:ih:m="php artisan ide-helper:models -N"

alias an="ansible"
alias anp="ansible-playbook"
alias anv="ansible-vault"
alias ang="ansible-galaxy"

mkcd() {
    mkdir -p "$1" && cd "$1"
}

path() {
    tr ':' '\n' <<< "$PATH"
}
