"*":
  "exception-reporting":
    userId: "35eb7ee5-333b-4843-6ce2-a8fde8aaa389"
  welcome:
    showOnStartup: false
  core:
    autoHideMenuBar: true
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    softWrap: true
  "vim-mode": {}
